In [1]:
import geopandas as gpd

df = gpd.read_file('data/seoul.geojson', encoding='UTF-8')
df
#adm_nm,adm_cd2,geometry

,OBJECTID,adm_nm,adm_cd,adm_cd2,sgg,sido,sidonm,sggnm,geometry
0,1,서울특별시 종로구 사직동,1101053,1111053000,11110,11,서울특별시,종로구,"POLYGON ((126.97689 37.57565, 126.97703 37.569..."
1,2,서울특별시 종로구 삼청동,1101054,1111054000,11110,11,서울특별시,종로구,"POLYGON ((126.98269 37.59507, 126.98337 37.594..."
2,3,서울특별시 종로구 부암동,1101055,1111055000,11110,11,서울특별시,종로구,"POLYGON ((126.97585 37.59656, 126.97359 37.593..."
3,4,서울특별시 종로구 평창동,1101056,1111056000,11110,11,서울특별시,종로구,"POLYGON ((126.97507 37.63139, 126.97649 37.630..."
4,5,서울특별시 종로구 무악동,1101057,1111057000,11110,11,서울특별시,종로구,"POLYGON ((126.96067 37.5808, 126.96281 37.5794..."
...,...,...,...,...,...,...,...,...,...
420,421,서울특별시 강동구 둔촌2동,1125071,1174070000,11740,11,서울특별시,강동구,"POLYGON ((127.15355 37.534, 127.15357 37.53102..."
421,422,서울특별시 강동구 암사1동,1125072,1174057000,11740,11,서울특별시,강동구,"POLYGON ((127.14447 37.55477, 127.14319 37.554..."
422,423,서울특별시 강동구 천호2동,1125073,1174061000,11740,11,서울특별시,강동구,"POLYGON ((127.13458 37.54712, 127.13115 37.542..."
423,424,서울특별시 강동구 길동,1125074,1174068500,11740,11,서울특별시,강동구,"POLYGON ((127.14857 37.54578, 127.14871 37.545..."
424,3479,서울특별시 구로구 오류2동,1117073,1153078000,11530,11,서울특별시,구로구,"POLYGON ((126.83179 37.47757, 126.83235 37.478..."

In [2]:
df=df[['adm_nm','adm_cd2','geometry']]
df.head()

,adm_nm,adm_cd2,geometry
0,서울특별시 종로구 사직동,1111053000,"POLYGON ((126.97689 37.57565, 126.97703 37.569..."
1,서울특별시 종로구 삼청동,1111054000,"POLYGON ((126.98269 37.59507, 126.98337 37.594..."
2,서울특별시 종로구 부암동,1111055000,"POLYGON ((126.97585 37.59656, 126.97359 37.593..."
3,서울특별시 종로구 평창동,1111056000,"POLYGON ((126.97507 37.63139, 126.97649 37.630..."
4,서울특별시 종로구 무악동,1111057000,"POLYGON ((126.96067 37.5808, 126.96281 37.5794..."

In [3]:
def polygon_to_coordinates(x):
    lon, lat = x.exterior.xy
    return [[x, y] for x, y in zip(lon, lat)]

df['coordinates'] = df['geometry'].apply(polygon_to_coordinates)
del df['geometry']

C:\Users\whcho\anaconda3\Lib\site-packages\geopandas\geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [4]:
import pandas as pd
df=pd.DataFrame(df)

In [5]:
import numpy as np
arr=df.to_numpy()

In [6]:
# 일원2동 -> 개포3동
# 1168074000 -> 1168067500
g1=arr[arr[:,1]=='1168074000'][0,2]
arr[arr[:,1]=='1168074000']=np.array([['서울특별시 강남구 개포3동', '1168067500',g1]],dtype=object)

# 강일동 -> 강일동
# 1174051500 -> 1174051500
g2=[[127.162785,37.576884],[127.173451,37.563940],[127.170746,37.562079],[127.171503,37.557595],[127.181803,37.559160],[127.179185,37.569263],[127.175408,37.578379],[127.176996,37.579603],[127.176996,37.581202],[127.172705,37.579501],[127.166782,37.579025],[127.163864,37.577495]]
arr[arr[:,1]=='1174051500']=np.array([['서울특별시 강동구 강일동', '1174051500',g2]],dtype=object)

# 상일동 -> 상일1동
# 1174052000 -> 1174052500
g3=arr[arr[:,1]=='1174052000'][0,2]
arr[arr[:,1]=='1174052000']=np.array([['서울특별시 강동구 상일제1동', '1174052500',g3]],dtype=object)

#고덕2동 -> 고덕2동 (좌표오류)
g4=[[127.153369,37.573056],[127.153382,37.567032], [127.154354466487, 37.56804528430635],[127.15472253951764, 37.56818607092829],[127.15531547219828, 37.56821822419583],[127.15543929112697, 37.568170408372204],[127.1559351324808, 37.56797892008248],[127.15636333636587, 37.56735823429568],[127.156927030999, 37.562962401950294],[127.15684010927747, 37.56062088395521],[127.1568381884844, 37.56057581161341],[127.15673710899863, 37.55854521933108],[127.15660557426494, 37.55590612384161],[127.15657896479796, 37.55537537070118],[127.156568,37.555531],[127.171278,37.557312],[127.170952,37.562118],[127.173154,37.563806],[127.162148,37.576448]]
arr[arr[:,1]=='1174056000']=np.array([['서울특별시 강동구 고덕2동', '1174056000',g4]],dtype=object)

# 강일동 -> 상일2동 (신설)
# 1174051500 -> 1174052600
g5=[[127.171569, 37.557149],[127.174173,37.545555],[127.174289,37.545280],[127.175673,37.545229],[127.175982,37.545612],[127.176639,37.545348],[127.176778,37.545748],[127.180362,37.546582],[127.183580,37.545246],[127.182904,37.551770],[127.181295,37.552970],[127.18176,37.558769],[127.176208,37.557515]]
new=np.array(['서울특별시 강동구 상일제2동', '1174052600',g5],dtype=object)
arr1=np.empty((426,3),dtype=object)
arr1[0:425,:]=arr
arr1[425,:]=new

In [7]:
df1=pd.DataFrame(arr1)
df1.columns=['name','code','coordinates']
df_revised=df1.sort_values(by=["code"], ascending=[True]) 
df_revised.reset_index(inplace=True,drop=True)

In [8]:
df_revised.head()

,name,code,coordinates
0,서울특별시 종로구 청운효자동,1111051500,"[[126.97358726355343, 37.593289023280704], [12..."
1,서울특별시 종로구 사직동,1111053000,"[[126.97688884274817, 37.575650779448786], [12..."
2,서울특별시 종로구 삼청동,1111054000,"[[126.98268938649305, 37.5950655194224], [126...."
3,서울특별시 종로구 부암동,1111055000,"[[126.97585113775686, 37.59656422224409], [126..."
4,서울특별시 종로구 평창동,1111056000,"[[126.97507466788086, 37.63138628651299], [126..."